@import "common/variables.less";

.player {

  #play, #forward {
    float: left;
  }
  #play {
    margin-left:~"calc(50% - 100px)";
  }
  svg {
    width: 100px;
    height: 100px;
    fill: #FFF;
  }
}

#player {
  display: none;
}

#time {
 margin-left: 80px;
 color: white;
 font-size: 22px;
}

#qr-code {
  margin-left:~"calc(50% - 128px)";
}

.reset {
  position: absolute;
  bottom: 10px;
  left: 10px;
  .transition;
  fill: currentColor;
  .animation(hue 60s infinite linear);
  cursor: pointer;
  svg {
    width: 44px;
    margin-bottom: -13px;
  }
  span {
    opacity: 0;
    padding-left: 10px;
    .transition;
  }
  &:hover {
    span {
      opacity: 1;
    }
  }
}
