@import "common/variables.less";
.add-song-title {
  padding-top: 0.5em;
}

#addSong.circle-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  .transition;
  fill: currentColor;
  .animation(hue 60s infinite linear);
  svg {
    width: 50%;
  }
}
.songs-list {
  margin: 0;
  margin-top: 1em;
  padding: 0;
  .song {
    list-style: none;
    width: 90%;
    height: 44px;
    margin-left: 5%;
    background: #FFF;
    color: @darkDarkgray;
    margin-bottom: 0.5em;
    .shadow;
    font-size: 0.75em;
    .transition;
    .transform(none);

    img {
      -webkit-filter: none;
      filter: none;
      float: left;
      height: 44px;
    }
    .container {
      display: table-cell;
      vertical-align: middle;
      width: 100%;
      height: 44px;
      p {
        margin: 0;
        padding-left: 10px;
      }
    }

    .votes {
      height: 7px;
      position: relative;
    }

    .upvoted, & .downvoted {
      display: block;
      position: absolute;
      height: 44px;
      width: 44px;
      right: 5%;
      z-index: -1;
      background: @success-color;
      .animation(none);
      .translate(0, -44px);
      fill: @inverse-color;
    }

    svg {
      width: 30px;
      margin: 7px;
    }

    .downvoted {
      background: @error-color;
      right: ~"calc(5% + 44px)";
    }

    &.swiped {
      .translate(-88px, 0);

      .upvoted, & .downvoted {
        .translate(133px, -44px);
      }
    }
  }
}
