<template name="addSong">
  <div class="wrapper">
    <div class="back"></div>
	<h1 class="add-song-title">Add Song</h1>
	<form id="addSong" class="form">
		<input type="text" id="query" placeholder="Search..." />
	</form>
    <div id="searchContainer">
        <ul class="songs-list">
            {{#each youtubeSongs}}
                {{> youtubeSong}}
            {{else}}
                <li class="song"><div class="container"><p>No results found !</p></div></li>
            {{/each }}
        </ul>
    </div>
  </div>
</template>



<template name="youtubeSong">
	<li class="song" id="{{index}}">
      <img src="{{image}}" />
      <div class="container"><p>{{title}}</p></div>
	</li>
</template>
