<template name="addSong">
	<h1>Add Song</h1>
	<form id="addSong" class="form">
		<input type="text" id="query" placeholder="Search..." />
	</form>
    
    <h2>Results</h2>
    <div id="searchContainer">
        <ul class="songs-list">
            {{#each youtubeSongs}}
                {{> youtubeSong}}
            {{else}}
                <li class="song"><div class="container"><p>No results found !</p></div></li>
            {{/each }}
        </ul>
    </div>

</template>



<template name="youtubeSong">
	<li class="song" id="{{index}}">
      <img src="{{image}}" />
      <div class="container"><p>{{title}}</p></div>
	</li>
</template>
