<template name="addSong">
	<h1>Add Song</h1>
	<form id="addSong">
		<input type="text" id="query" placeholder="Search..." />
		<ul>
		{{#each youtubeSongs}}
			{{> youtubeSong}}
		{{else}}
			<li>No results found !</li>
		{{/each}}
		</ul>
	</form>
</template>

<template name="youtubeSong">
	<li class="song">
		<span id="spanTitle">{{snippet.title}}</span>
		<span id="spanDescription">{{snippet.description}}</span>
		<img src="{{snippet.thumbnails.default.url}}" id="thumbnail" />

		<input type="hidden" id="title" value="{{snippet.title}}"/>
		<input type="hidden" id="description" value="{{snippet.description}}"/>
		<input type="hidden" id="youtubeId" value="{{id.videoId}}"/>
	</li>
</template>