<template name="home">
  <div class="home">
    <header>
      <h1>Welcome to Dj Hack</h1>
      <div class="cta">
        <div class="bottom">
          <div class="pulse1"></div>
          <div class="pulse2"></div>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="5.0 -10.0 100.0 135.0"><path d="M26.66,13.266v8.338v1.6v5.134v9.941v38.55c-3.223-0.916-7.149-0.712-10.972,0.888   c-7.287,3.048-11.342,9.901-9.047,15.301c2.287,5.407,10.054,7.317,17.34,4.271c6.094-2.547,9.865-7.749,9.617-12.548h0.068V37.183   l45.044-7.065v35.386c-3.174-0.827-7.01-0.579-10.729,0.976c-7.282,3.047-11.338,9.901-9.047,15.305   c2.292,5.406,10.059,7.318,17.344,4.268c5.815-2.433,9.502-7.283,9.618-11.894h0.068v-45.18V18.075v-4.17v-2.884V3L26.66,13.266z    M78.711,19.331L33.667,27.13v-5.022l45.044-7.063V19.331z" /></svg>
        </div>
        <div class="cta-first">
          <button class="create button">Create a party!</button>
        </div>
        <form id="join" class="cta-second">
          <input type="text" id="partyName" placeholder="Or join an existing one!" />
          <input type="submit" class="hide" />
        </form>
      </div>
      <div class="scroll-indicator">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 96 96">
          <path d="M48 62c-0.332 0-0.66-0.084-0.956-0.248l-44-24c-0.968-0.524-1.328-1.74-0.796-2.712 0.528-0.968 1.752-1.328 2.712-0.8l43.040 23.48 43.044-23.48c0.968-0.528 2.188-0.168 2.716 0.8 0.528 0.972 0.172 2.184-0.8 2.712l-44 24c-0.3 0.164-0.628 0.248-0.96 0.248z" fill="#FFF" />
        </svg>
      </div>
    </header>
    <div class="content">
      <div class="feature">
        <div class="image"></div>
        <div class="text">Plug your device to a sound system. Create a <em>Party</em>.</div>
      </div>
      <div class="feature">
        <div class="image"></div>
        <div class="text">Everyone flash the QR code of the party, add, upvote songs.</div>
      </div>
      <div class="feature">
        <div class="image"></div>
        <div class="text">Listen to the music !</div>
      </div>
    </div>
  </div>
</template>
