<template name="server">
  <h1>{{name}}</h1>


{{> YTPlayer name="player"}}  
  {{#if currentSong}}
  <div class="songs-list">
    <div class="song">
      <img src="{{currentSong.thumbnail}}" />
      <div class="container"><p>{{currentSong.title}}</p></div>
    </div>
  </div>
  {{/if}}
  <div class="player">

    <div id="play">
      {{#if play}}
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="5.0 -10.0 100.0 135.0"><rect x="14" y="13.999" width="27" height="72" /><rect x="59" y="13.999" width="27" height="72" /></svg>
      {{else}}
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="5.0 -10.0 100.0 135.0"><polygon points="14.019,14.02 85.981,50.004 14.019,85.98  " /></svg>
      {{/if}}
    </div>

    <div id="forward">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="5.0 -10.0 100.0 135.0"><polygon points="69.51,35.064 43.643,20.134 43.643,42.658 30.49,35.064 4.633,20.134 4.633,49.999 4.633,79.865   30.49,64.928 43.643,57.342 43.643,79.865 69.51,64.928 95.366,49.999 " /></svg>
    </div>
    <div class="clearfix"></div>
  </div>

  <div id="qr-code"></div>

  <!--//2 buttons (play + pause)
  //Slider sound
  //Slider track fast-forward and rewind
  -->
</template>
